<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="balance">
            <div class="card-header">
                <h5 class="card-title">{{customer.balance}}$</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">$</h3>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="stock">
            <div class="card-header">
                <h5 class="card-title">{{customer.stockvalue}}$</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">$</h3>
            </div>
        </div>
    </div>
</div>
